<h1> Edit article </h1>


<%= form_for @gossip do |f| %>
  <div class="form-group">
    <label> Title </label>
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <label> Content </label>
    <%= f.text_area :content, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save now", class:"btn btn-success" %>
  </div>

<% end %>
