<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Gossip project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

  <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4">List of all gossips</h1>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>First name</th>
        <th>Gossip title</th>
        <th>Link</th>
      </tr>
    </thead>

    <tbody>
      <%id = 0%>
      <% @gossips.each do |gossip| %>
      <tr>
        <td><%= gossip.user.first_name %></td>
        <td><%= gossip.title %></td>
        <td> <%= link_to "Read gossip", gossip_url_path(gossip.id) %></td>
      <%id += 1%>
      </tr>
      <% end %>
    </tbody>

  </table>

</body>
</html>
