<div class="jumbotron">
  <h1 class="display-4">Hello <%=@first_name%> </h1>
  <p class="lead">Discover all the gossips written by THP's students!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" <%= link_to "Let's start", home_index_path %></a>
</div>
