</br></br></br>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="text-center"> </br>
        <%= image_tag "student.png", alt: "Louis", width: 200, height: 200 %>
        <div class="container">
          <h2>Louis Dreyfus</h2>
          <p class="title">Gossip Master</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>louis.dreyfus@gossip.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="text-center"> </br>
        <%= image_tag "user.png", alt: "Louis", width: 200, height: 200 %>
        <div class="container">
          <h2>Jérôme Lena</h2>
          <p class="title">Gossip Master</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>louis.dreyfus@gossip.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="text-center"> </br>
        <%= image_tag "user-2.png", alt: "Louis", width: 200, height: 200 %>
        <div class="container">
          <h2>Timothé Heller</h2>
          <p class="title">Gossip Master</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>louis.dreyfus@gossip.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>


</div>
